body {
    color: white;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F395434.jpg&f=1&nofb=1&ipt=49cc32f3ef33304b376a9ff74b68abbbff07234deb824d70f5f7692db2b24af2&ipo=images');
    background-size: cover; /* Esta propiedad ajustará la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen en su lugar mientras se desplaza la página */
    margin: 0; /* Elimina el margen predeterminado del body */
    padding: 0; /* Elimina el padding predeterminado del body */
}

.short {
    background-color: black;
    color: white;
}

.vertical-header-table th {
    white-space: nowrap;
    text-align: right;
    vertical-align: middle;
}

.vertical-header-table td {
    text-align: left;
}

.binance {
    box-shadow: 5px 5px 12px 0px #000000 inset;
    background-color:#ffcc00;
    color: #3b3a30;
    font-weight: 900;
}

.bitget {
    box-shadow: 5px 5px 12px 0px #000000 inset;
    background-color:#00ccff;
    color: #3b3a30;
    font-weight: 900;
}

.quantfury {
    box-shadow: 5px 5px 12px 0px #000000 inset;
    background-color:#4fa190;
    color: #3b3a30;
    font-weight: 900;
}

/* Details Section */

.header {
    background-color: #007bff;
    color: white;
}
.sub-header {
    background-color: #7ea1db;
    color: black;
}
.long {
    background-color: #b3e6a4;
    color: black;
    text-align: center;
}
.entry-header {
    background-color: #f0f0f0;
    text-align: center;
}
.sl-projection {
    background-color: #f8d7da;
    color: #721c24;
}
.tp-projection {
    background-color: #d4edda;
    color: #155724;
}
.table-bordered td, .table-bordered th {
    border: 1px solid black;
}
.highlight-row td {
    font-weight: bold;
}
.profit {
    background-color: #d4edda;
    color: #155724;
}
.loss {
    background-color: #f8d7da;
    color: #721c24;
}