html, body {
    overflow-x: hidden;
}
body {
    color: white;
    background-color: #95a2ab;
}
.container-fluid {
    max-width: 100%;
}
table {
    width: 100%;
    table-layout: fixed;
}
table {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;  */
}

/* Estilos generales para el tbody */
tbody, thead {
    font-size: 20px;  /* Cambia el tamaño de la letra */
    color: #ffffff;   /* Cambia el color de la letra */
    background-color: #333333;  /* Fondo gris oscuro para el tbody */
    /**line-height: 1.8;  /* Aumenta el espaciado entre líneas */
    text-align: center;  /* Centra el texto */
}

/* Estilo para las filas pares */
tbody tr:nth-child(even) {
    background-color: #393939;  /* Fondo más claro para filas pares */
}

/* Estilo para las filas impares */
tbody tr:nth-child(odd) {
    background-color: #333333;  /* Fondo más oscuro para filas impares */
}

.short {
    background-color: black;
    color: white;
}

.vertical-header-table th {
    white-space: nowrap;
    text-align: left;
    vertical-align: middle;
}

.vertical-header-table td {
    text-align: right;
}

#profit {
    border: 2px solid #22aa32;
}

#loss {
    border: 2px solid #aa4b22;
}

.binance {
    box-shadow: 5px 5px 12px 0px #000000 inset;
    background-color:#ffcc00;
    color: #3b3a30;
    font-weight: 900;
}

.bitget {
    box-shadow: 5px 5px 12px 0px #000000 inset;
    background-color:#00ccff;
    color: #3b3a30;
    font-weight: 900;
}

.quantfury {
    box-shadow: 5px 5px 12px 0px #000000 inset;
    background-color:#4fa190;
    color: #3b3a30;
    font-weight: 900;
}

.btc_price {
    background-color:#181a1c;
    color: #29caf6;
    font-size: 30px;
    font-weight: 900;
}


/****** Details Section *********/
.header {
    background-color: #007bff;
    color: white;
}
.sub-header {
    background-color: #7ea1db;
    color: black;
}
.long {
    background-color: #b3e6a4;
    color: black;
    text-align: center;
}
.entry-header {
    background-color: #f0f0f0;
    text-align: center;
}
.sl-projection {
    background-color: #f8d7da;
    color: #721c24;
}
.tp-projection {
    background-color: #d4edda;
    color: #155724;
}
.table-bordered td, .table-bordered th {
    border: 1px solid black;
}
.highlight-row td {
    font-weight: bold;
}
.profit {
    background-color: #d4edda;
    color: #155724;
}
.loss {
    background-color: #f8d7da;
    color: #721c24;
}
